@import url(cor.css);

body {
    background-color: var(--cor-fundo-body);
    text-align: center; 

}

main {
    margin-top: 20px;
}

.card-receita {
    display: inline-block;
    border-radius: 15px;
    width: 250px;
    box-shadow: 0px 4px 10px black (0, 0, 0, 0.103);
    text-align: center;
    margin: 20px;
    background-color: var(--cor-main);   
     
}

.card-receita:hover {
    transform: scale(1.20)
}

.card-receita > img {
    width: 100%;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.card-receita > h3 {
    margin: 15px 0px;
    font-size: 1.2em;
    opacity: 0.9;
}

.btn-receita {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    color: var(--cor-letras-link);
    background-color: var(--cor-cabecalho-inicial);
    margin-bottom: 15px;
    border-radius: 15px;
}

.btn-receita:hover {
    transform: translate(2px,-2px);
    background-color: var(--cor-cabecalho-final);
}
