* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #c1dffd;
}

main {
    background-color: rgb(229, 228, 228);
    width: 40vw;
    margin: 50px auto;
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.428);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    letter-spacing: 2px;
    font-weight: bold;
    
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0px 15px;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    background-color: rgb(2, 133, 241);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    
}

button[type="reset"]{
    background-color: red;

}

.buttons {
    text-align: right;
}