/* Iremos aprender semana que vem */

/* O "*" aplica a todas as tags */

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    }

header {
    background-color: lightblue; 
}

main {
    font-size: 16px;


}
h2 {
    text-align: center;
}
p {   
    text-align: justify;
    font-family: "Libertinus Sans", sans-serif;
    font-weight: normal;
    line-height: 2;
    letter-spacing: 3px;
    color: black;
}

div {
    font-size: 16px;
    
}

main > section > p  {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: black;
    
}