body {
    width: 50vw;
    margin: auto;
        
}

h1 {
    text-align: center;

}

#titulo1 {
    color: #2C3E50;
    background-color: #ECF0F1;
    
}

.paris {
    color: #E64D5B;
    background-color: #F9EBEA;
}

.Roma {
    color: #E64D5B;
    background-color: #F9EBEA;
}

.Kyoto {
    color: #E64D5B;
    background-color: #F9EBEA;
}

#titulo2 {
    color: #30AE60;
    background-color: #E9F7EF;

}

.canyon {
    color: #30AE60;
    background-color: #E9F7EF;

}

.Amazônia {
    color: #30AE60;
    background-color: #E9F7EF;

}

.Great {
    color: #30AE60;
    background-color: #E9F7EF;

}

#vibrante {

    color: #F39C11;
    background-color: #FFF3E6;
}

.nova {

    color: #F39C11;
    background-color: #FFF3E6;
}

.barce {

    color: #F39C11;
    background-color: #FFF3E6;
}

.Bangkok {

    color: #F39C11;
    background-color: #FFF3E6;
}

#experimente {
    color: #8E44AD;
    background-color: #F5E6F5;
}

.Jerusalém {
    color: #8E44AD;
    background-color: #F5E6F5;
}

.marra {
    color: #8E44AD;
    background-color: #F5E6F5;
}

.Veneza {
    color: #8E44AD;
    background-color: #F5E6F5;
}

p {
    line-height: 1.5;
}
